@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    
}
body{
    background: #fff;
    font-family: 'Poppins', sans-serif;
}
.complete-page{
    display: flex;
}
.left-buttons{
    display: inline-block;
    border: solid white ;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 30px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
.left-2-col{
    width: 300px;
}
.left-2-col i{
    color:grey;
}

.butterfly{
    padding-top: 20px;
}
.note{
    margin-left: 30px;
    margin-top: 50px;
}
.note .line-1{
    font-weight: 300;
    font-size: 20px;
}
.note .line-2{
    font-weight: 700;
    margin-top: 5px;
}
.note .line-3{
    /* font-weight: 300; */
    padding-top: 10px;
}
.note .line-4{
    margin-top: 10px;
    font-weight: 700;
    color: blueviolet;

}
.search{ 
    padding-top: 40px; 
     padding-left: 10px; 
}
 .Home{
       margin-top: 60px;
       border: solid blueviolet;
       border-radius: 5px;
       padding: 5px;
       background-color: blueviolet;
       padding-left: 10px;
}
  .news{  
       padding-top: 40px;
    padding-left: 10px;
}
  .list{     padding-top: 40px;
    padding-left: 10px;
}
  .user{     padding-top: 40px;
    padding-left: 10px;
}
.notify{
    margin-top: 300px;
    padding-left: 10px;
}
.login{
    padding-top: 30px;
    padding-left: 10px;
}


.profile{
    display: flex;
    padding-top: 40px;
    
}
 .hello{
    padding-top: 10px;
    padding-left: 10px;
} 

.profile-img img{
    height: 60px;
    width: 60px;
    background: transparent;
}
.left-most{
    display: flex;
    background-color:rgb(252, 242, 242); 
}
.left-2-col{
    padding-left:30px ;
}
.left-2-col h3{
margin-top: 20px;
display: inline-flex;}

.left-2-col .h3{
margin-top: 20px;
display: inline-flex;
font-weight: 600;
}
.left-2-col h1{
margin-top: 20px;
}
.left-2-col p{
margin-top: 10px;
}
.left-2-col .recent{
    padding-top: 40px;
}
.left-2-col button{
margin-top: 10px;
background-color: blueviolet;
border-color: blueviolet;
border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 25px;
padding-right: 25px;
color: #fff;
}

.left-2-col hr{
    margin-top:20px;
}

.main-section{
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
}
.main-section .main{
    padding-top: 40px;
    color: blueviolet;
}
.right{
    display: flex;
}
#donut_single {
    margin-top: 15px;
    
      }
      #donut_single2 {
        margin-top: 15px;
        
          }
          #donut_single3 {
            margin-top: 15px;
           
 
        }

.target{
    padding-top: 60px;
    display: flex;
}
.target .range{
padding-left: 40px;
}
.target p{
    padding-top: 8px;
}
.target hr{
    margin-top: 8px;
}
.bar-Chart{
margin-top: 60px;
}
.doughNut{
    display:flex;
    flex-direction: column;
    
}

.doughNut h1{
    display: inline-flex;
margin-top: 80px;
}
.doughNut .des{
    margin-top: 15px;
}
 .doughNut .left .row-1{
    display: inline-flex;
    margin-top: 25px;
    display: flex;
} 
.doughNut .left .row-1 p{
    margin-left: 10px;
}
 .doughNut .left .row-2{
    display: inline-flex;
    margin-top: 15px;
}
.doughNut .left .row-2 p{
    display: inline-flex;
    margin-left: 10px;
}

.doughNut .left .row-3{
     display: inline-flex;
    margin-top: 10px;
}
.doughNut .left .row-3 p{
    margin-left: 10px;
}
.doughNut .left hr{
    margin-top: 10px;
}

.doughNut .left{
    display: inline-block;    
    }

.bottom{
    display: flex;
}


          
          


    .right-section{
        margin-top: 60px;
        
    }
    .right-section-top{
    
        padding-left: 30px;
        padding-right:  30px;
        padding-top: 30px;
        background-color: rgb(252, 242, 242);
    }
    .right-section-top .Emp{
        display: inline-flex;
        margin-top: 30px;
    
    }
    .right-section-top .Ret{
        display: inline-flex;
        margin-top: 30px;
    }
    .slidecontainer{
        margin-top: 20px;
    }
    .Emp-per{
        margin-top: 30px;
        display: inline-flex;
    }
    .Emp-per p{
        margin-left: 50px;
    }
    .Int-per{
        margin-top: 30px;
        display: flex;
    }
    .Int-per p{
        margin-left:140px;
    }
    .right-section-top button{
       
        margin-top: 30px;
        background-color: blueviolet;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 240px;
        border-radius: 10px;
        border-color: blueviolet;
        margin-left: 30px;
        color: #fff;
    }
    .view{
        color: blueviolet;
        font-weight: 800;
        margin-top: 30px;
        margin-left: 100px;
        padding-bottom: 30px;
    }

    .slidecontainer {
        width: 200px;
        display: inline-flex;
    }

    .slidecontainer h3{
        padding-left: 30px;
    }
     /* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 8px; 
    background: blue; 
    border-radius: 10px;
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  
  
  .slider:hover {
    opacity: 1; 
  }
  
 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px;
    background: #fff; 
    cursor: pointer; 
    border-radius: 10px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: grey; 
    cursor: pointer; 
  }

   
 /* Mobile screen */
 @media(max-width:477px) {
 .complete-page{
    display: flex;
    flex-direction: column;
 }
 .left-buttons{
   display: none;
}
 .left-most {
    position: relative;
         display: flex;
                background-color: #fff;
    }

    .left-2-col-bottom{
        background-color:rgb(252, 242, 242); 
        padding: 20px;
        border-radius: 10px;
        position: absolute;

    }
    .left-2-col-bottom .rate{
        display: flex;}
        .left-2-col-bottom .rate .col-1{
            display: flex;
            flex-direction: column;
        }
        .left-2-col-bottom .rate .col-2{
            padding-left: 25px;
        }
        .left-2-col-bottom button{
        padding-left: 80px;
        padding-right: 80px;
            border-radius: 10px;
        }
        .last-col{
            margin-top: 20px;
            padding: 20px;
            background-color:rgb(252, 242, 242);   
            border-radius: 10px;
        }
      .target-1{
        display: inline-flex;
      }
      .range-list{
        display: inline-block;
      }

      .doughNut h1{
        display: inline-flex;
    }
    .doughNut .bottom .right{
        display: flex;
    }
 .right-section{
    width: 100%;
    /* overflow-wrap: inherit; */
 }
 .left{
    width: 100%;
 }

.note{
    display: none;
}
.view{
    display: none;
}
.right-section button{
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.right{
   display: inline-flex;
object-fit: cover;


}
.bottom{
    display: flex;
    flex-direction: column;
}
 #donut_single{
   margin-top: 5px;
width:auto;
}


#donut_single2{  margin-top: 5px;
    padding-left: 0;}

#donut_single3{  margin-top: 5px;
    padding-left: 0;} 
 }


